:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-div {
  font-family: 'Manrope', sans-serif;
  background-color: var(--Dark-Blue);
  color: var(--Light-Cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-div {
  background-color: var(--Dark-Grayish-Blue);
  padding: 2rem;
  border-radius: 10px;
  display: grid;
  place-items: center;
  text-align: center;
}

h1 {
  font-size: 16px;
  color: var(--Neon-Green);
}

.divider {
  margin-block: 20px;
}

p {
  font-size: 28px;
}

.round-button {
  background-color: var(--Neon-Green);
  border: none;
  border-radius: 50%; /* Hace que el botón sea redondo */
  padding: 13px; /* Añade algo de padding */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon {
  width: 15px;
  height: 15px;
}